.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
h1{
  margin: 0;
  padding: 14px;
}
.header{
  background-color: blueviolet;
  color: aliceblue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}
.form{
  margin-top: 3rem;
}
.data{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 20px;
  padding:0 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.data_head p{
  font-size: larger;
  font-weight: 500;
}
#delete{
  height: 55px;
}